Robot.Joystick_Sensitivity=1.0
Robot.Joystick_Saturation=1.0
Robot.Joystick_deadZone=0.0
Robot.Joystick_invertX=false
Robot.Joystick_invertY=false

Robot.FRONT_LEFT_MOTOR_NAME=flm
Robot.FRONT_RIGHT_MOTOR_NAME=frm
Robot.REAR_LEFT_MOTOR_NAME=rlm
Robot.REAR_RIGHT_MOTOR_NAME=rrm

Robot.LEFT_SHOOTER_MOTOR_NAME=lsm
Robot.RIGHT_SHOOTER_MOTOR_NAME=rsm

Robot.LEFT_BELT_DRIVE_MOTOR_NAME=lbdm
Robot.RIGHT_BELT_DRIVE_MOTOR_NAME=rbdm

Robot.LIFT_MOTOR_NAME=lft

Robot.PLACEHOLDER_SERVO1_NAME=tbd_0
Robot.PLACEHOLDER_SERVO2_NAME=tbd_1
Robot.PLACEHOLDER_SERVO3_NAME=tbd_2
Robot.PLACEHOLDER_SERVO4_NAME=tbd_3